<div class="flip-card perspective-1000" (click)="flipCard()">
  <div class="flip-card-inner" [class.flip]="flipped">
    <div
      class="flip-card-front bg-white border border-gray-200 shadow-md rounded-lg"
    >
      <mat-card class="h-full w-full justify-center items-center gap-2">
        <mat-card-content class="text-xl"> {{ front }} </mat-card-content>
      </mat-card>
    </div>
    <div
      class="flip-card-back bg-white border border-gray-200 shadow-md rounded-lg"
    >
      <mat-card class="h-full w-full justify-center items-center gap-2">
        <mat-card-content class="text-xl"> {{ back }} </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
